<div id="<%= dom_id meeting %>">
  <p>
    <strong>User:</strong>
    <%= meeting.user_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= meeting.client_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= meeting.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= meeting.end_time %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= meeting.confirmed %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= meeting.details %>
  </p>

</div>
