<div class="sidebar col-2 text-white px-4 text-center bg-primary">
  <section class="date-box">
    <p class="mb-0 day"><%=Date.today.strftime('%A') %></p>
    <p id="sidebar-time" class="mb-0 time">12:00</p>
    <p class="mb-0 date text-muted">
      <%= Date.today %>
    </p>
  </section>
  <section class="menu">
    <%= link_to root_path do %>
      <div class="menu-item <%= current_page?(root_path) && 'active' %>">
        <i class="bi bi-file-earmark-bar-graph">Home</i>
      </div>
    <% end %>
    <%= link_to clients_path do %>
      <div class="menu-item <%= active_page('clients') && 'active' %>">
        <i class="bi bi-people">Clients</i>
      </div>
    <% end %>
    <%= link_to todos_path do %>
      <div class="menu-item <%= active_page('todos') && 'active' %>">
        <i class="bi bi-card-checklist">ToDo</i>
      </div>
    <% end %>
    <%= link_to meetings_path do %>
      <div class="menu-item <%= active_page('meetings') && 'active' %>">
        <i class="bi bi-calendar-check">Calendar</i>
      </div>
    <% end %>
  </section>
  <section class="profile">
    <p class="h1">Profile:</p>
    <%= button_to("Logout", destroy_user_session_path,
                  class: "btn btn-danger logout-button", method: :delete) %>
  </section>
  <section class="info-box mt-3">
    <h3>Marcin Biłka CRM</h3>
    <p class="text-muted">&copy;Copyright 2023</p>
  </section>
</div>